---
title: "Kolekcija projekata u gradu Zagrebu i njihov trenutni status"
---

<div class="wrapper">
  <div class="karta">
    <div id="map">
      <button id="ucitajKartuButton" type="button" onclick="ucitajKartu()">Učitaj kartu</button>
    </div>
    <div class="filteri" id="filteri">
      <button type="button" onclick="prikaziSveProjekte(this)" class="active">Svi projekti</button>
      <button type="button" onclick="prikaziGotoveProjekte(this)">Samo gotovi projekti</button>
      <div class="filter-kategorija">
	<button type="button" onclick="prikaziFilterKategorija()" class="filter-kategorija-gumb">
	  <span>Kategorije</span>
	</button>
	<div role="dialog" class="filter-kategorija-dialog" id="filter-kategorija">
	  <ul class="filter-kategorija-lista">
	    {% for kategorija in site.data.projekti.kategorije_projekata %}
	    <li>
	      <div class="filter-kategorija-oznaka">
		<input class="filter-kategorija-kucica" type="checkbox" id="kategorija-{{ kategorija.id }}" data-id="{{ kategorija.id }}" />
		<label for="kategorija-{{ kategorija.id }}">
		  {{ kategorija.oznaka }}
		</label>
	      </div>
	    </li>
	    {% endfor %}
	  </ul>
	  <button type="button" onclick="zatvoriFilterKategorija()" class="filter-kategorija-zatvori" id-"filter-kategorija-zatvori">
	    Zatvori
	  </button>
	</div>
      </div>
    </div>
  </div>
  <div class="projekti">

    {% for projekt in site.projekti reversed %}
    <div class="projekt" id="{{ projekt.id }}">
      <div class="podaci">
        <h3><a href="{{ projekt.url }}">{{ projekt.ime }}</a></h3>
        <div>{{ projekt.faza }}</div>
        <div>{{ projekt.vrijednost }}</div>
        <small>Posljednji put ažurirano: {{ projekt.date | date: "%d.%m.%Y." }}</small>
      </div>
      <div class="slika">
        <picture>
          <source srcset="{{ projekt.slika_url }}.webp" type="image/webp" />
          <img src="{{ projekt.slika_url }}.jpg" alt="{{ projekt.slika_tekst }}">
        </picture>
        <br />
        <!--<small>{{ projekt.slika_izvor }}</small>-->
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<script>
  var kartaUcitana = false;
  var samoGotoviProjekti = false;
  var markeri;
  var map;
  var filteri = document.getElementById("filteri");
  var projekti;  // Projekti su ucitani na kraju skripte.

  const filter_kategorija_kucice = document.querySelectorAll(".filter-kategorija-kucica");
  var odabrane_kategorije = [];

  async function ucitajProjekte() {
      let url = "/api/projekti.html";
      try {
	  const response = await fetch(url);
	  if (!response.ok) {
	      throw new Error(`Response status: ${response.status}`);
	  }
	  const data = await response.text();
	  projekti = JSON.parse(decodeURI(data));
      } catch (error) {
	  console.error(error.message);
      }
  }

  async function ucitajKartu() {
      // Sakri gumb nakon sto je karta ucitana
      document.getElementById("ucitajKartuButton").style.display = 'none';
      document.getElementById("map").style.border = '0 none black';
      document.getElementById("map").style.padding = '3px';
      
      map = L.map('map').setView([45.7949, 15.9841], 11);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
	  maxZoom: 19,
	  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);
      
      markeri = new Map();
      
      for (let i = 0; i < projekti.length; i++) {
	  var slika = "<a href='" + projekti[i].url + "' style='max-width: 200px; white-space: pre-wrap; word-wrap: break-word;'>" +  projekti[i].ime +
	      "<picture><source srcset='" + projekti[i].slika_url + ".webp' type='image/webp' /><img src='" + projekti[i].slika_url  + ".jpg' style='width: 200px; aspect-ratio: 4 / 3; object-fit: cover; padding-top: 5px;'> </a>";
	  var marker = L.marker(projekti[i].geo_lokacija);
		      marker.bindPopup(slika);
	  marker.addTo(map);
	  markeri.set(projekti[i].id, marker);
      }

      kartaUcitana = true;
      osvjeziPrikazProjekata();
  }
  
  function fokusirajFilterButton(element) {
      for (var i = 0; i < filteri.children.length; i++) {
	  var child = filteri.children[i];
	  if (child == element) {
	      child.classList.add("active");
	  } else {
	      child.classList.remove("active");
	  }
      }
  }
  
  function prikaziSveProjekte(element) {
      fokusirajFilterButton(element);
      samoGotoviProjekti = false;
      osvjeziPrikazProjekata();
  }

  function prikaziGotoveProjekte(element) {
      fokusirajFilterButton(element);
      _prikaziGotoveProjekte();
  }

  function _prikaziGotoveProjekte() {
      samoGotoviProjekti = true;
      osvjeziPrikazProjekata();
  }
  
  function osvjeziPrikazProjekata() {
      for (var i = 0; i < projekti.length; i++) {
	  projekt = projekti[i]
	  var marker;
	  var zadovoljava_fazu = true;
	  var zadovoljava_kategoriju = true;
	  if (kartaUcitana) {
	      marker = markeri.get(projekt.id);
	  }
	  if (samoGotoviProjekti) {
	      if (projekt.faza != "Dovršeno") {
		  zadovoljava_fazu = false;
	      }
	  }
	  if (odabrane_kategorije.size > 0) {
	      zadovoljava_kategoriju = false;
	      if (projekt.hasOwnProperty("kategorije")) {
		  for (const kategorija of projekt.kategorije) {
		      if (odabrane_kategorije.has(kategorija)) {
			  zadovoljava_kategoriju = true;
			  break;
		      }
		  }
	      }
	  }
	  
	  if (zadovoljava_fazu && zadovoljava_kategoriju) {
	      if (kartaUcitana && !map.hasLayer(marker)) {
		  marker.addTo(map);
	      }
	      document.getElementById(projekt.id).style.display = 'grid';
	  } else {
	      if (kartaUcitana && map.hasLayer(marker)) {
		  marker.removeFrom(map);
	      }
	      document.getElementById(projekt.id).style.display = 'none';
	  }
      }
  }

  
  function prikaziFilterKategorija() {
      var filter_kategorija = document.getElementById("filter-kategorija");
      if (filter_kategorija.style.display == "flex") {
	  filter_kategorija.style.display = "none";
      } else {
	  filter_kategorija.style.display = "flex";
      }
  }

  function zatvoriFilterKategorija() {
      document.getElementById("filter-kategorija").style.display = "none";
  }

  function osvjeziKategorije() {
      odabrane_kategorije = new Set();
      for (const kategorija of filter_kategorija_kucice) {
	  if (kategorija.checked) {
	      odabrane_kategorije.add(kategorija.getAttribute("data-id"));
	  }
      }
      osvjeziPrikazProjekata();
  }

  for (const kategorija of filter_kategorija_kucice) {
      kategorija.addEventListener("click", osvjeziKategorije);
  }

  ucitajProjekte();
			  
  document.addEventListener('click', function(e) {
    if (!e.target.closest('.filter-kategorija')) {
      zatvoriFilterKategorija();
    }
  }, false);


</script>
