---
---

@import "base";

#map { height: 500px; }

body {
    margin: 0px;
}

nav {
    background-color: #163d73;
    overflow: hidden;
}

nav a {
    float: left;
    color: #eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

nav a:hover {
    background-color: #567db3;
}

nav a.active {
    background-color: #365d93
}

.navigation {
    max-width: 960px;
    margin: auto;
}

.content {
    padding-top: 20px;
    max-width: 960px;
    margin: auto;
}

.filteri {
    display: flex;
    flex-driection: row;
    gap: 5px;
    padding-top: 20px;
}

.filteri button {
    background-color: #163d73;
    color: #eee;
    font-size: 18px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    border-style: none;
}

.filteri button:hover {
    background-color: #567db3;
}

.filteri button.active {
    background-color: #365d93
}

.projekti {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.projekt {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
    color: black;
}

.projekti .projekt {
    background: #f1f1f1;
}

.projekti .projekt:hover {
    background: #bcd3f7;
}

.podaci {
    display: flex;
    flex-direction: column;
    flex: 350px;
}

.podaci small {
    color: #777;
}

.opis {
    display: flex;
    flex: 200px;
}

.sadrzaj {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.slika {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 200px;
}

.slika img {
    height: 200px;
}

.slika small {
    padding-top: 5px;
    color: #777;
}

.velika_slika {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.velika_slika img {
    height: 400px;
}

.velika_slika small {
    padding-top: 5px;
    color: #777;
}

.projekt_stranica h2 {
    margin-top: 16px;
    margin-bottom: 3px;
#    font-weight: normal;
}

.projekt_stranica h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
}

.projekt_stranica h4 {
    margin-top: 16px;
    margin-bottom: 5px;
}
