---
---

@import "base";

body {
    margin: 0px;
}

.navigation {
    margin: auto;
}

.content {
    margin: auto;
}

ul {
    padding-left: 0px;
}

/***************
     Index
***************/

.informacije {
    max-width: 960px;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 48px;
}

.informacije h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 48px;
}

.informacije p {
    text-align: center;
    font-size: 24px;
}

.pregled {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(256px, auto));
    grid-auto-rows: auto;
}

.pregled a {
    text-decoration: none;
    padding: 24px;
    border-radius: 12px;
    font-size: 18px;
    color: #000;
}

.veliki-broj {
    font-size: 48px;
}

.pregled .infrastruktura {
    background-color: #baffc9;
}

.pregled .infrastruktura:hover {
    filter: brightness(108%);
}

.pregled .nabave {
    background-color: #bae1ff;
}

.pregled .place {
    background-color: #ffffba;
}

.pregled h2 {
    color: #163d73;
    margin-top: 8px;
    text-decoration: underline dotted;
}

.pomoc {
    background-color: #ffdfba;
    padding: 48px;
}

.pomoc .sadrzaj {
    max-width: 960px;
    margin: auto;
    text-align: center;
    font-size: 24px;
}

.pomoc h1 {
    font-size: 48px;
}



@media (max-width: 360px) {
    .informacije {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        padding-top: 24px;
        padding-inline: 0px;
    }

    .informacije h1 {
        font-size: 24px;
    }

    .pomoc {
        padding: 24px;
    }

    .pomoc h1 {
        font-size: 24px;
    }

    .informacije p {
        font-size: 18px;
        padding-inline: 16px;
    }

    .pregled {
        grid-template-columns: repeat(auto-fill, minmax(auto, 360px));
        gap: 0px;
    }

    .pregled a {
        padding: 12px;
        border-radius: 0px;
        font-size: 18px;
    }

    .veliki-broj {
        font-size: 24px;
    }
}

/******************
   Infrastruktura
******************/

.wrapper {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas:
        "karta"
        "projekti";
}

.karta {
    grid-area: karta;
}

@media (min-width: 960px) {

    .wrapper {
        margin-inline: 24px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "projekti projekti projekti karta karta";
    }

    .karta {
        position: sticky;
        align-self: start;
        top: 0;
        left: 0;
        padding-top: 24px;
    }
}

#map {
    height: 600px;
    max-height: 50svh;
    display: flex;
    align-items: center;
    justify-content: center;

    border-width: 3px;
    border-color: #163d73;
    border-style: solid;
}

#map button {
    background-color: #163d73;
    color: #eee;
    font-size: 30px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    border-style: none;
}

#map button:hover {
    background-color: #567db3;
}

#map button.active {
    background-color: #365d93
}

nav {
    background-color: #163d73;
    overflow: hidden;
}

nav a {
    float: left;
    color: #eee;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
}

nav a:hover {
    background-color: #567db3;
}

nav a.active {
    background-color: #365d93
}

.filteri {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.filteri button {
    background-color: #163d73;
    color: #eee;
    font-size: 18px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 8px;
    text-decoration: none;
    border-style: none;
}

.filteri button:hover {
    background-color: #567db3;
}

.filteri button.active {
    background-color: #365d93
}

.filter-kategorija {
    position: relative;
}

.filter-kategorija-gumb {
    
}

.filter-kategorija-dialog {
    position: absolute;
    display: flex;
    display: none;  // Initially hidden
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 240px;
    padding: 4px;
    background: #f1f1f1;
    z-index: 1000;

    right: 0;
}

.filter-kategorija-lista {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    list-style: none;
}

.filter-kategorija-oznaka {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 24px;
    padding: 4px;
}

.filter-kategorija-kucica {
    width: 16px;
    height: 16px;
    border-radius: 4px;
}

.filter-kategorija-zatvori {
    width: fit-content;
}

.projekti {
    grid-area: projekti;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, auto));
    grid-auto-rows: 1fr;
    gap: 24px;
    padding-top: 24px;
}

.projekt {
    text-decoration: none;
    color: black;

    background: #f1f1f1;
    display: grid;
    grid-template-columns: auto 180px;
    padding-left: 12px;
    max-height: 240px;
}

.projekt:hover {
    filter: brightness(103%);
}

@media (max-width: 320px) {
    .projekti {
        grid-template-columns: repeat(auto-fill, minmax(auto, 320px));
    }

    .projekt {
        grid-template-columns: auto;
        padding-left: 0px;
    }

    .podaci {
        margin-left: 6px;
    }
}

.projekt .zaglavlje {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}

.projekt .podaci {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    margin-right: 6px;
}

.podaci h3 {
    margin-top: 12px;
    margin-bottom: 6px;
}

.podaci h3 a {
    text-decoration: underline dotted;
    color: #163d73;
}

.podaci h4 {
    margin: 0px;
}

.podaci small {
    color: #444;
    margin-top: auto;
}

.slika {
    position: relative;
}

.slika img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.slika small {
    color: #666;
    position: absolute;
    bottom: 3px;
    left: 3px;
    text-shadow:
        0px 0px 0px white,
        0px 0px 1px white,
        0px 0px 2px white,
        0px 0px 3px white,
        0px 0px 4px white,
        0px 0px 5px white,
        0px 0px 6px white;
    font-size: 18px;
    font-weight: 700;
}

.velika_slika {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.velika_slika img {
    max-width: 90vw;
    height: 50vh;
    object-fit: cover;
    height: 50vh;
    max-height: 400px;
}

.faze {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 55px;
    padding-right: 15px;
    padding-left: 0px;
}

.faze .checkpoint {
    width: 20px;
    height: 20px;
    border: 2px solid #aaa;
    border-radius: 50%;
    position: relative;
}

.faze .checkpoint.gotovo {
    border: 2px solid #FFD700;
}

.faze .linija {
    border: 2px solid #aaa;
    display: flex;
    flex: 3;
}

.faze .linija.gotovo {
    border: 2px solid #FFD700;
}

.faze .trotocka {
    border: none;
    border-top: 4px dotted #aaa;
    color:  #f1f1f1;
    background-color: none;
    height: 0px;
    flex: 0 0 80px;
}

.faze .trotocka.gotovo {
    border-top: 4px dotted #FFD700;
}

.faze .trotocka.skriveno {
    border-top: 4px dotted #FFD700;
    visibility: hidden;
}

.faze .tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #aaa;
    color: #000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.faze .tooltip.gotovo {
    background-color: #FFD700;
    visibility: visible;
}

.checkpoint:hover .tooltip {
  visibility: visible;
}

/*****************************
 Stranica za pojedini projekt
*****************************/

.projekt_stranica {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.velika_slika small {
    padding-top: 5px;
    color: #777;
}

.projekt_stranica h2 {
    margin-top: 16px;
    margin-bottom: 3px;
#    font-weight: normal;
}

.projekt_stranica h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
}

.projekt_stranica h4 {
    margin-top: 16px;
    margin-bottom: 5px;
}
