---
layout: default
---

<div class="velika_slika">
  <div>
    <picture>
      <source srcset="{{ page.slika_url }}.webp" type="image/webp" />
      <img src="{{ page.slika_url }}.jpg" alt="{{ page.slika_tekst }}">
    </picture>
    <br/>
    <small>{{ page.slika_izvor }}</small>
  </div>
</div>

<hr>

<div class="projekt projekt_stranica">
  <div class="podaci">
    <h2>{{ page.ime }}</h2>
    <h3>Trenutna faza: {{ page.faza }}</h3>
    <h3>Vrijednost: {{ page.vrijednost }}</h3>
  </div>

  <div class="opis">
    <div>
      {{ content }}
    </div>
  </div>

</div>
